@import "./colors.scss";
@import "./typography.scss";
@import "./forms.scss";

html, body {
  margin: 0;
}

.container {
  margin: 10vh 10vw 0 10vw;

  @media screen and (max-width: 768px) {
    margin-top: 5em;
  }
}

.hidden {
  display: none !important;
}

.tabs {
  width: 100%;
  margin-bottom: 0.5em;

  .tab {
    display: inline-block;
    padding: 0.5em 1em;

    &:hover {
      cursor: pointer;
    }

    &.active {
      border-bottom: 0.1em solid $primary;
      background-color: rgba(250, 250, 250, 1);
      border-radius: 0.5em 0.5em 0 0;
    }
  }
}

.card {
  margin: auto;
  max-width: 50em;
  border-radius: 1em;
  padding: 1em 2em;
  background-color: $secondary;
  box-shadow: 0.2em 0.2em rgba(200, 200, 200, 0.8);
  margin-bottom: 1.5em;
  overflow-x: auto;

  h2 {
    margin-top: 0.2em;
  }
}
