@import "./colors.scss";
@import "./typography.scss";
@import "./forms.scss";

html, body {
  margin: 0;
}

.container {
  margin: 10vh 10vw 0 10vw;

  @media screen and (max-width: 768px) {
    margin-top: 5em;
  }
}

.hidden {
  display: none !important;
}
