* {
  font-family: "roboto";
  font-weight: 300;
}

.container {
  font-size: 1.1em;
}

.challenges {
  font-size: 0.8em;
}

.modal {
  font-size: 1.2em;
}

th, strong {
  font-weight: 400;
}

nav .item, h1, h2, h3, h4, h5 {
  font-family: "ocr-a-std";
  letter-spacing: -1px;
  color: $primary;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}

.center {
  text-align: center;
}

.error {
  color: $primary;

  &:before {
    content: 'Error: ';
  }
}
