* {
  font-family: "roboto-slab";
  font-weight: 300;
}

th, strong {
  font-weight: 400;
}

nav .item, h1, h2, h3, h4, h5 {
  font-family: "ocr-a-std";
  color: $primary;
}

h1 {
  text-align: center;
}
